/* #quotesection{
  background-color: blue;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 8px;
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: black;
  color: #e8eaed;
  font-family: "Open Sans";
  font-weight: bold;
}

button:hover{
  border: #fff solid 1px;
}

button:active{
  color: #c3c6c9
}

h1{
  color: #e8eaed;
  font-family: "EB Garamond";
  font-weight: 200;
}

#flex{
  display: flex;
  margin: 150px;
}

div{
  border: 1px solid black;
  margin-left: 2vw;
}

.flexitem{
  flex-grow: 1;
}

.flexitem2{
  flex-grow: 2;
} */



:root {
  --grey: hsl(0, 0%, 95%);
}

body {
  font-family: 'Helvetica';
  font-size: 30px;
  padding: 20%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background {
  background: var(--grey);
  padding: 20px;  /* Amount of grey */
}


#quote {
  background: white;
  padding: 20px;    /* Ensures the text is not hard up against the border of the div*/
  text-align: left;
  color: grey;
  font-weight: 200;
}

#author {
  font-weight: 1000;
  margin-bottom: 20px;
  color: black;
}


#buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  align-items: center;
}

#new-quote {
  background: black;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: white;
}

#tweet-quote {
  background: white;
  color: black;
  font-size: 35px;
  text-decoration: none;
  border: none;
}

@media (max-width: 500px) {
  body {
    font-size: 15px;
    padding: 5%;
  }
}
