@media screen and (min-width:800px){

#hello h1{
  font-size: 60px
}

}
@media screen and (max-width:801px){
  #hello h1{
    font-size: 30px
  }


}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5E5DE;
  margin:0%;
}

#navbar {
  background-color: white;
  border: 1px solid black;
  padding: 5px 40px 5px 0;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  font-family: "Montserrat";
  padding: 15px;
  margin: 10px;
  color: #18A0FB;
  text-decoration: none;

}

.active {
  color: #DFAA96;
}

#homePage-top {
  background-color: white;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#introduction {
  padding: 9% 4% 10% 4%;
}

#skiing {
  width: 690px;
}


h1 {
  font-size: 46px;

}

.button {
  background-color: #18A0FB;
  color: white;
  font-family: "Montserrat";
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}
