@media screen and (min-width:800px){

#hello h1{
  font-size: 60px
}

}
@media screen and (max-width:801px){
  #hello h1{
    font-size: 30px
  }
}

html {
  scroll-behavior: smooth;
 }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5E5DE;
  margin:0%;
}

#navbar {
  background-color: white;
  border: 1px solid black;
  padding: 5px 40px 5px 0;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  font-family: "Montserrat";
  padding: 15px;
  margin: 10px;
  color: #18A0FB;
  text-decoration: none;

}

.active {
  color: #DFAA96;
}


#homePage-top {
  background-color: white;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#introduction {
  padding: 9% 7% 0 7%;
}

#headshot {
  width: 690px;
}

h1 {
  font-size: 60px;

}

#introduction a {
  background-color: #18A0FB;
  color: white;
  font-family: "Montserrat";
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

#medium-logo {
  background-color: white;
  border-bottom: 1px solid black;
}

#medium-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  padding-top: 9%;
  padding-bottom: 9%;
  filter: drop-shadow(5px 5px 5px #222222);
/* mess around with drop-shadow */
}

#about {
  padding: 8% 7% 8% 7%;
  border-bottom: 1px solid black;
}

h2 {
  padding-bottom: 2%;
}

#pics {
  background-color: white;
  border-bottom: 1px solid black;
}


#funPics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8% 7% 8% 7%;

}

#funPics img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#resume {
  border-bottom: 1px solid black;
  padding: 2% 7% 2% 7%;
}

#resume-pic {
  background-color: white;
  padding: 2% 7% 2% 7%;

}










#hello {
  /* font-size: 48px; */
  text-align: center;
  margin: 30px;

}

#line {
  background-color: black;
  color: black;
  font-size:1px;
  margin-bottom: 30px;
}

#skiing{
  margin-bottom: 30px;
}


/* h2 {
  font-size: 2vw;
  text-align: center;
} */


#intro, #goals, #links {
  font-size: 1.5vw;
  background-color: #D8E2DC;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vh;
  /* width: 50vw; */
  border: 1px solid #FEC5BB;
  padding: 20px 30px;
  border-radius: 10px;
}

#intro {
  text-align: center;
}

#hello img {
  width: 30vw;
  border-radius: 50%;
}
