@media screen and (min-width:800px){

#hello h1{
  font-size: 60px
}

}
@media screen and (max-width:801px){
  #hello h1{
    font-size: 30px
  }
}

html {
  scroll-behavior: smooth;
 }

body {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 400px */
  background-color: #F5E5DE;
  margin:0%;
}

#smallLogo {
  height: auto;
  width: auto;
  max-width: 10vw;
  max-height: 10vh;
}

#navbar {
  background-color: white;
  border: 1px solid black;
  padding: 1vh 1vw;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  font-family: "Montserrat";
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  color: #18A0FB;
  text-decoration: none;
  float: right;
}

#left {
  display: flex;
  margin-right: auto;
  align-items: center;
  padding-left: 1vw;
}

#right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  font-family: "Comfortaa";
  padding-left: 1vw;
}

.active {
  color: #DFAA96;
}


#homePage-top {
  background-color: white;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#introduction {
  padding: 9% 7% 0 7%;
}

#headshot {
  /* width: 690px; */
}

h1 {
  font-size: 60px;

}

#introduction a {
  background-color: #18A0FB;
  color: white;
  font-family: "Montserrat";
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

#medium-logo {
  background-color: white;
  border-bottom: 1px solid black;
}

#medium-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 400px;
  padding-top: 9%;
  padding-bottom: 9%;
  filter: drop-shadow(5px 5px 5px #222222);
/* mess around with drop-shadow */
}

#about {
  padding: 8% 7% 8% 7%;
  border-bottom: 1px solid black;
}

/* h2 {
  padding-bottom: 2%;
} */

#pics {
  background-color: white;
  border-bottom: 1px solid black;
}


#funPics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8% 7% 8% 7%;

}

#funPics img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#resume {
  border-bottom: 1px solid black;
  padding: 2% 7% 2% 7%;
}

#resume-pic img {
  background-color: white;
  padding: 2% 7% 2% 7%;
  object-fit: fill;
  width: 100%;
  height: 100%;
  /* Above three lines maybe dont do anything */
}

#portfolio h1 {
  font-size: 64px;
  text-align: center;
}

#portfolio h2 {
  padding: 0 7% 0 7%;
  text-align: center;
}

#contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 6%;
  padding-bottom: 6%;
  filter: drop-shadow(5px 5px 5px #222222);
}

#athleticsPage-top {
  background-color: white;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

#bio {
  padding: 9% 4% 10% 4%;
}


#bio h1 {
  font-size: 46px;

}

.button {
  background-color: #18A0FB;
  color: white;
  font-family: "Montserrat";
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;
  height: 90vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

.mySlides img {
  object-fit: cover;
  width: 50vw;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #A8A8A9;
}

/* Caption text */
.text {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots {
  position: absolute;
  top: 100%;
  bottom: 8px;
  width: 50%;
  text-align: center;
}

.picactive, .dot:hover {
  background-color: #C4C4C4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

* {
  box-sizing: border-box;
}

/* body {
  padding: 20px;
} */

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  text-align: center;
}

.content img {
  width: 100%;
}

#portfolioGrid {
  margin: auto;
  text-align: center;
  width: 90%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* #contactMe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  text-align: center;
  object-fit: cover;
} */

#contactMe {
  display: flex;
  margin: 5vh 5vw;

}

.options {
  flex-grow: 1;
  width: auto;
  /* margin: 3vw; */
  /* border: 3px solid blue; */
  background-color: white;
  text-align: center;
}


#costaRica, #oregon {
  max-width: 33vw;
  width: 100%;
  height: 100%;
  /* height: 30vh;
  width: 25vw; */
  /* object-fit: fill; */
}

@media screen and (max-width: 900px) {
  #costaRica, #oregon {
    display: none;
  }
}

#contactSection {
  padding-top: 10vh;
}


.socials {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.socials img {
  max-width: 20vw;
  max-height: 20vh;
  height: auto;
  width: auto;
  object-fit: cover;
  margin: 1vh 1vw;
  /* object-position: 0px 0px 20px 0px; */

}
